<% if logged_in? %>
  <div>
    <%= render 'items/items', items: @items %>
  </div>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Original application</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>