<div class="container">
  <div class="row">
    <% items.each do |item| %>
      <div class="col-4 col-md-3">
        <div>
          <% if item.image? %>
            <%= image_tag item.image.url(:thumb) %>
          <% end %>
        </div>
        <div>
          商品名：<%= link_to item.title, item_path(item) %>
        </div>
        <div>
          価格：<%= item.price %>円
        </div>
      </div>
    <% end %>
    <%= paginate items %>
  </div>
</div>