<% if logged_in? %>
  <div>
    <%= render 'items/items', items: @items %>
  </div>
<% else %>

  <!--後ほど削除-->
  <div>メールアドレス：<span class="text-danger">guest@co.jp</span><div> 
  <div>パスワード：<span class="text-danger">guest</span> でログインできます。<div>

  <div class="center jumbotron">
    <div class="text-center">
      <h1>
        <span class="red">S</span>
        <span class="orange">h</span>
        <span class="yellow">o</span>
        <span class="green">p</span>
        <span class="skyblue">p</span>
        <span class="blue">e</span>
        <span class="purple">r</span>
      </h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
    <div class="text-center">
      Login? <%= link_to 'Here!', login_path%>
    </div>
  </div>
<% end %>