/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin-top: 100px;
}

.pagination {
  justify-content: flex-end;
  margin-bottom: 40px;
}

.frame {
  border: solid 1px grey;
  padding-left: 2.5px;
}
.frame-image {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
}
.frame-info {
  padding-left: 2.5px;
}

.note {
  margin-top: -15px;
  margin-bottom: 20px;
}

.table-head {
  background-color: #e6e6e6;
}

.favorite {
  border: solid 1px grey;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 2.5px;
}
.favorite2 {
  border: solid 1px grey;
  padding-left: 5px;
  padding-top: 10px;
}

.logo {
  font-size: 25px;
}
.red {
  color: red;
}
.orange {
  color: orange;
}
.yellow {
  color: yellow;
}
.green {
  color: green;
}
.skyblue {
  color: skyblue;
}
.blue {
  color: blue;
}
.purple {
  color: purple;
}

.return {
  width: 206px;
  height: 32px;
  border-radius: 2px;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
}